.split-pane {
    -fx-border-color: transparent;
    -fx-box-border: rgba(255, 255, 255, 0);
    -fx-background-color: transparent;
}
.split-pane > .split-pane-divider {
    -fx-background-color: transparent
}
.blue-background {
    -fx-background-color: #3063a4;
}

.list-view .list-cell:even {
    -fx-background-color: #ebebeb;
    -fx-text-fill: black;
}
.list-view .list-cell:odd {
    -fx-background-color: #ffffff;
    -fx-text-fill: black;
}
.grei-background{
    -fx-background-color: #ebebeb;
}
