.btn-login {
    -fx-background-color: #3063a4;
    -fx-text-fill: #ffffff;
}
.text-area{
    -fx-background-color:#ECF0F1 ;
}
.base-font{
    -fx-background-color: white;
}
.undecorator-background {
    -fx-background-radius: 6;

    -fx-border-color: gray;

    -fx-border-style: solid;

    -fx-border-width: 1;

    -fx-border-radius: 6;

    -fx-background-radius: 6;

    -fx-effect: dropshadow(three-pass-box, rgba(100, 100, 100, 1), 24, 0.5, 0, 0);
}