.save-button {
    -fx-background-color: #3063a4;
    -fx-background-color: #47d465;
    -fx-text-fill: #ffffff;
}

.cancel-button {
    -fx-background-color: #d74747;
    -fx-text-fill: #ffffff;
}

.reset-button {
    -fx-background-color: #3063a4;
    -fx-text-fill: #ffffff;
}

.pane-whitegrei {
    -fx-background-color: #ebebeb;
}
.choice-box .context-menu { -fx-background-color: white; }
.choice-box .menu-item:focused { -fx-background-color: #8592a4; }
.choice-box .menu-item > .label { -fx-text-fill: black; }
.choice-box {
    -fx-background-color: white;
    -fx-mark-color: orange; // arrow color
}
